/* _base.css */
body {
  font-family: var(--font-display);
  background-color: var(--background-dark);
  color: var(--text-white);
  margin: 0;
  padding: 0;
  min-width: 425px;
  min-height: 884px;
  box-sizing: border-box;
  overflow-x: hidden;
}

button:focus,
input:focus {
  outline: none;
}