@import url("variables.css");
@import url("./componentes/botones.css");
@import url("./componentes/checkbox.css");
@import url("./componentes/contenedores.css");
@import url("./componentes/desplegables.css");
@import url("./componentes/dropdown.css");
@import url("./componentes/imagenes.css");
@import url("./componentes/input.css");
@import url("./layout/grid.css");
@import url("./utilidades/utilidades.css");

/* _base.css */
body {
  font-family: var(--font-display);
  background-color: var(--background-dark);
  color: var(--text-white);
  margin: 0;
  padding: 0;
  min-width: 425px;
  min-height: 884px;
  box-sizing: border-box;
  overflow-x: hidden;
}

button:focus,
input:focus {
  outline: none;
}
